.viewRoute {
  padding: 0 6rem;
}

.title {
  align-self: start;
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  color: var(--color-text_primary);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-route-title);
}

.dateCreateUpdate {
  color: var(--color-route-text);
}

.params {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.paramsImageWrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.paramsImage {
  width: 100%;
  border-radius: 1rem;
}

.routeParams {
  width: 60%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text_secondary);

  width: 1348px;
  gap: 16px;
  border-radius: 16px;
  padding: 24px;
  background: var(--color-surface);

  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.paragraph {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: justify;
}

.photo {
  max-width: 37rem;
  border-radius: 1rem;
  box-shadow: 0 8px 24px 0 #1F293714;
}

.map {
  width: 60%;
  height: 30rem;
  border-radius: 2rem;
}

.link {
  color: var(--color-text_secondary);
  font-weight: bold;
}

.routeLink {
  color: var(--color-route-link);
  font-weight: bold;
}

.reportLink {
  color: var(--color-report-link);
  font-weight: bold;
}

.eventLink {
  color: var(--color-event-link);
  font-weight: bold;
}

.infoLink {
  color: var(--color-info-link);
  font-weight: bold;
}

.button {
  background-color: var(--color-route-button) !important;
}

.button:hover {
  background-color: var(--color-route-button-hover) !important;
}

.listReportTitle {
  font-family: Inter;
  font-weight: 600;
  font-size: 22px;
  color: var(--color-text_primary);
}
