.viewRouteList {
  background-color: var(--color-route-background);
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-route-text);
}

.routeList {
  display: flex;
  align-self: flex-start;
}

.routeParam {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-route_card-background);
  border-radius: 0.5rem;
  width: 15rem;
}


.searchPanel {

}

.linkItem {
  text-decoration: none;
}

.button {
  background-color: var(--color-route-button);
}

.routeItem {
  background-color: var(--color-route_card-background);
  color: var(--color-route_card-text);
  border: var(--color-button_image-border) 0.125rem solid;
}

.routeItem:hover {
  background-color: var(--color-route_card-background-hover);
}

.pagination {
  --color-pagination_page-text: var(--color-route-text);
  --color-pagination-active_page-background: var(--color-route-button);
  --color-pagination-active_page-text: var(--color-button-text);
}

@media screen and (max-width: 540px) {
  .routeList {
    display: flex;
    flex-direction: column;
  }

  .routeParam {
    align-self: center;
  }
}