.pagination {
  display: flex;
  justify-content: end;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 0.625rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 0.75rem;
  vertical-align: middle;
  padding: 0.5rem;
  background-color: var(--color-surface);
  color: var(--color-text_primary);
}

.buttonPage {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: var(--color-border) 0.0625rem solid;
  border-radius: 0.25rem;
}

.buttonPageActive {
  cursor: default;
  background-color: var(--color-primary_green);
  color: var(--color-surface);
}