.viewInfo {
  padding: 0 6rem;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text_primary);
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text_secondary);
}

/*.dateCreateUpdate {*/
/*  color: var(--color-text_secondary);*/
/*}*/

/*.body {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  margin: 0;*/
/*  color: var(--color-info-text);*/
/*}*/

/*.paragraph {*/
/*  margin: 0.5rem;*/
/*  padding: 0;*/
/*  width: 80%;*/
/*  text-align: justify;*/
/*  font-size: 1.25rem;*/
/*}*/

/*.photo {*/
/*  max-width: 37rem;*/
/*  box-shadow: 0.625rem 0.3125rem 0.625rem var(--color-info-shadow);*/
/*  margin-top: 0.5rem;*/
/*  margin-bottom: 0.5rem;*/
/*}*/

/*.map {*/
/*  width: 80%;*/
/*  height: 30rem;*/
/*  border-radius: 2rem;*/
/*}*/

/*.link {*/
/*  color: var(--color-info-link);*/
/*  font-weight: bold;*/
/*}*/

/*.routeLink {*/
/*  color: var(--color-route-link);*/
/*  font-weight: bold;*/
/*}*/

/*.reportLink {*/
/*  color: var(--color-report-link);*/
/*  font-weight: bold;*/
/*}*/

/*.eventLink {*/
/*  color: var(--color-event-link);*/
/*  font-weight: bold;*/
/*}*/

/*.infoLink {*/
/*  color: var(--color-info-link);*/
/*  font-weight: bold;*/
/*}*/

/*.button {*/
/*  background-color: var(--color-info-button) !important;*/
/*}*/

/*.button:hover {*/
/*  background-color: var(--color-info-button-hover) !important;*/
/*}*/
