.viewEventList {
  background-color: var(--color-event-background);
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-event-title);
}

.linkItem {
  text-decoration: none;
}

.button {
  background-color: var(--color-event-button);
}

.eventList {
  display: flex;
  align-self: flex-start;
}

.eventParam {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-event_card-background);
  border-radius: 0.5rem;
}

.eventItem {
  background-color: var(--color-event_card-background);
}

.eventItemHistory {
  opacity: 0.5;
}

.eventItem:hover {
  background-color: var(--color-event_card-background-hover);
}

@media screen and (max-width: 540px) {
  .eventList {
    display: flex;
    flex-direction: column;
  }

  .eventParam {
    align-self: center;
  }
}