.viewEventList {
  padding: 0 6rem;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.625rem 0;
}

.maintitle {
  width: 100%;
  font-family: Inter;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--color-text_primary);
}

.subtitle {
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--color-text_secondary);
}

.eventList {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.eventFilter {
  border-radius: 1.5rem;
  padding: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  background: var(--color-surface);
  box-shadow: 0 0.5rem 1.5rem 0 var(--color-shadow);
}
