.viewReport {
  padding: 0 6rem;
}

.title {
  width: 100%;
  font-family: Inter;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--color-text_primary);
}

.dateRide {
  padding: 1rem 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-text_secondary);

}

.header {
  display: block;
}

.footer {
  display: none;
}

@media screen and (max-width: 650px) {
  .viewReport {
    padding: 1rem 0.5rem;
  }

  .header {
    display: none;
  }

  .footer {
    display: block;
  }

}
