.menuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100%;
  text-align: center;
  color: var(--color-primary_green);
  text-decoration: none;
}

.menuItemSelected {
  border-bottom: 0.125rem solid var(--color-primary_green);
}