.button {
  display: inline-block;
  border-width: 0.0625rem;
  border-radius: 0.5rem;
  border-color: var(--color-accent_green);
  border-style: solid;
  color: var(--color-accent_green);
  background-color: var(--color-background_button);
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
}

.button:hover {
  background-color: var(--color-accent_green);
  color: var(--color-surface);
}

.button:focus {
  border-color: var(--color-accent_green);
  outline: 0.0625rem solid var(--color-accent_green);
}

.buttonInner {
  border: none;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  height: 2rem;
}
