.button {
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.25rem;
  gap: 0.5rem;
  cursor: pointer;
  height: 1.5rem;
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  font-size: 1.25rem;
}

.button:hover {
  border-color: var(--color-button-hover-border);
  background-color: var(--color-button-hover-background);
  color: var(--color-button-hover-text);
}
