.button {
  display: inline-block;
  border-width: 0.0625rem;
  border-radius: 0.5rem;
  border-color: var(--color-accent_green);
  border-style: solid;
  color: var(--color-accent_green);
  background-color: var(--color-background);
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  leading-trim: NONE;
  line-height: 0.75rem;
  letter-spacing: 0%;
}

.button:hover {
  background-color: var(--color-primary_hover);
  color: var(--color-surface);
}

.buttonInner {
  border: none;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  height: 2rem;
}