@import "/src/css/colorShema.css";

.viewMain {
  padding: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.content {
  width: 100%;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (max-width: 650px) {
  .viewMain {
    padding: 0;
  }

  .content {
    padding: 2rem 1rem;
  }
}