.reportHeader {
  display: flex;
  gap: 2rem;
  padding: 1rem 0;
  font-size: 1.25rem;
  color: var(--color-text_secondary);
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-text_primary);
}