
.buttonImage {
  position: relative;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  box-sizing: border-box;
  border: var(--color-button_image-border) 0.125rem solid;
  border-radius: 1rem;
  background-color: var(--color-main_card-background);
  color: var(--color-main_card-text);
  transition: top 0.25s, left 0.25s, box-shadow 0.25s;
}

.buttonImage:hover {
  position: relative;
  top: -0.3125rem;
  left: -0.3125rem;
  box-shadow: var(--color-main-shadow) 0.5rem 0.5rem 0.5rem;
  background: var(--color-main_card-background-hover);
  border-color: transparent;
}

.icon {
  max-width: 7rem;
  max-height: 7rem;
}

.label {
  font-size: 1.5em;
  font-weight: bold;
}