.cardList {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}

@media screen and (max-width: 650px) {
  .cardList {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
}