.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text_secondary);
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--color-surface);
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
}

.title {
  align-self: start;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--color-text_primary);
}

.paragraph {
  margin: 0;
  width: 100%;
  text-align: justify;
}

.photo {
  max-width: 37rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem 0 var(--color-shadow);
}

.map {
  width: 60%;
  height: 30rem;
  border-radius: 2rem;
}

.link {
  color: var(--color-text_secondary);
  font-weight: bold;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .photo {
    width: 100%;
  }

  .map {
    width: 90%;
    height: 15rem;
  }
}