.paragraph {
  margin: 0.5rem;
  padding: 0;
  width: 80%;
  text-align: justify;
  font-size: 1.25em;
}

.photo {
  max-width: 37rem;
  box-shadow: 0.625rem 0.3125rem 0.625rem gray;
}

.map {
  width: 80%;
  height: 30rem;
  border-radius: 2rem;
}

.link {
  color: var(--color-main-link);
  font-weight: bold;
}