.paragraph {
  margin: 0.5rem;
  padding: 0;
  width: 80%;
  text-align: justify;
  font-size: 1.25em;
}

.photo {
  max-width: 37rem;
  box-shadow: 0.625rem 0.3125rem 0.625rem gray;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.map {
  width: 80%;
  height: 30rem;
  border-radius: 2rem;
}

.link {
  color: var(--color-main-link);
  font-weight: bold;
}

.routeLink {
  color: var(--color-route-link);
  font-weight: bold;
}

.reportLink {
  color: var(--color-report-link);
  font-weight: bold;
}

.eventLink {
  color: var(--color-event-link);
  font-weight: bold;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
}