.select {
  height: 1.9375rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.625rem;
  border-width: 0.0625rem;
  border: 0.0625rem solid var(--color-border);
  background-color: var(--color-surface);
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 100%;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M7 10l5 5 5-5z" fill="%23555"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  padding-right: 1.875rem;
  color: var(--color-text_primary);
}

.select option {
  color: var(--color-text_primary);
  border-color: var(--color-border);
  background-color: var(--color-surface);
}

.select:hover {
  border-color: var(--color-text_primary);
}

.select:focus {
  border-color: var(--color-text_primary);
  outline: 0.0625rem solid var(--color-text_primary);
}
