.newsItem {
  margin: 0.5rem;
  color: var(--color-text_primary);
}

.link {
  font-weight: bold;
}

.newsRoute {
  color: var(--color-text_secondary);
}

.newsRoute .link {
  color: var(--color-accent_green);
}

.newsReport {
  color: var(--color-text_secondary);
}

.newsReport .link {
  color: var(--color-accent_green);
}

.newsEvent {
  color: var(--color-text_secondary);
}

.newsEvent .link {
  color: var(--color-accent_green);
}