.firstEvent {
  text-decoration: none;
  padding: 0.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background: var(--color-light_green);
  cursor: pointer;
  border-radius: 1rem;
  &.noEvent {
    cursor: default;
  }
}


.icon path{
  fill: var(--color-primary_green);
}


.param {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.title {
  color: var(--color-text_primary);
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
}

.description {
  color: var(--color-text_secondary);
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
  max-width: 15rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}