.reportCard {
  width: 25rem;
  min-width: 25rem;
  height: 10rem;
  border-radius: 1rem;
  background: var(--color-surface);
  box-shadow: 0 0.5rem 1.5rem 0 var(--color-shadow);
  display: flex;
}

.photo {
  width: 12.5rem;
  height: 100%;
  opacity: 1;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.photo > img {
  max-width: 100%;
  max-height: 100%;
}


.info {
  width: 12.5rem;
  height: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.title {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: var(--color-text_primary);
}

.date {
  height: 0.75rem;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 100%;
  vertical-align: middle;
  color: var(--color-text_secondary);
}

.dateIcon {
  width: 0.75rem;
  height: 0.75rem;
}

.dateIcon path {
  fill: var(--color-text_secondary);
}

.buttonMore {

}

.buttonMore button {
  width: 100%;
}