.header {
  background-color: var(--color-header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-header-text);
}

.logo {
  order: 0;
}

.title {
  text-align: center;
  color: var(--color-header-text);
  font-weight: bold;
  font-size: 2.5em;
  order: 2;
}

.theme {
  order: 3;
}

.iconTheme {
  stroke: var(--color-icon_theme-stroke);
  fill: var(--color-icon_theme-fill);
  /* width: 1rem; */
  height: 100%;
  display: inline;
  opacity: var(--opacity-icon_theme);
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-button-background);
  color: var(--color-button-text);
  width: 7rem;
  height: 2rem;

}

@media screen and (max-width: 650px) {
  .header {
    flex-wrap: wrap;
  }

  .theme {
    order: 1;
  }

}
