.navBar {
  position: relative;
  /*width: 85rem;*/
  width: 90%;
  height: 4rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--color-surface);
  padding: 0 0.5rem;
  box-shadow: 0 0.25rem 1.25rem #0000000F;
}

.logoLink {
  order: 0;
  height: 100%;
}

.logo {
  height: 100%;
}

.right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.theme {
  height: 2rem;
}

.iconTheme {
  height: 100%;
  display: inline;
  cursor: pointer;
  fill: var(--color-text_primary);
}
