.header {
  padding: 0.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &.headerBackground {
    height: 22.5rem;
    background-image: var(--gradient-header);
    background-size: cover;
  }
}

@media screen and (max-width: 650px) {
  .header {

    &.headerBackground {
      height: 100%;
      background-image: none;
    }
  }
}
