.sortPanel {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: 0.5rem;
}

.label{
  color: var(--color-main_card-text);
}

.input {
  color: var(--color-input-text);
  background-color: var(--color-input-background);
}