.sortPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label{
  font-family: Inter;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--color-text_primary);
}

@media screen and (max-width: 650px) {
  .sortPanel {
    gap: 0.5rem;
  }
}