.eventParams {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-family: Inter;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 100%;
  color: var(--color-text_primary)
}

.groupParamPrimary {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.length {
  width: 9rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.length_value {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-items: center;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-text_primary);
}

.length_icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-text_secondary);
}

.startDateTime {
  width: 7rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.startDateTime_value {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--color-text_primary);
}

.startDateTime_icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-text_secondary);
}

.startPlace {
  width: 11rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.startPlace_value {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--color-text_primary);
}

.tempo {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tempo_value {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-text_primary);
}

.tempo_icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-text_secondary);
}

.groupParamSecondary {
  display: flex;
  gap: 2rem;
}

.pointList {
  width: 23rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pointList_value {
  text-align: justify;
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--color-text_primary);
}

.track {
  width: 11rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.param_name {
  font-family: Inter;
  font-weight: 700;
  font-size: 1rem;
  vertical-align: middle;
  color: var(--color-text_primary);
}

@media screen and (max-width: 650px) {
  .eventParams {
    display: none;
  }
}