.buttonLink {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--color-text_secondary);
  &.link {
    color: var(--color-accent_green);
  }
}

.buttonInner {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconWrapper {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-border);
  &.small {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  &.small {
    width: 0.75rem;
    height: 0.75rem;
  }
}

.icon path {
  fill: var(--color-accent_green);
}

.buttonLink:focus {
  border-color: var(--color-accent_green);
  outline: 0.0625rem solid var(--color-accent_green);
}