.status {
  border-radius: 1rem;
  border-width: 0.0625rem;
  border-style: solid;
  padding: 0.25rem 0.5rem;
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: middle;
  border-color: var(--color-success);
  color: var(--color-success);
}

.closed {
  border-color: var(--color-error);
  color: var(--color-error)
}