.viewInfoList {
  /*background-color: var(--color-info-background);*/
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text_primary);
}

.infoList {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.linkItem {
  text-decoration: none;
  color: var(--color-text_secondary);
}
