.viewReportList {
  background-color: var(--color-report-background);
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-report-title);
}

.reportList {
  display: flex;
  align-self: flex-start;
}

.reportParam {
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--color-report_card-background);
  border-radius: 0.5rem;
}

.linkItem {
  text-decoration: none;
}

.button {
  background-color: var(--color-report-button);
}

.reportItem {
  background-color: var(--color-report_card-background);
  color: var(--color-report_card-text);
}

.reportItem:hover {
  background-color: var(--color-report_card-background-hover);
}

