.fromRoute {
  --color-text: var(--color-route-text);
  --color-link: var(--color-route-link);
  --color-background: var(--color-route_card-background);
  --color-background-hover: var(--color-route_card-background-hover)
}

.fromEvent {
  --color-text: var(--color-event-text);
  --color-link: var(--color-event-link);
  --color-background: var(--color-event_card-background);
  --color-background-hover: var(--color-event_card-background-hover);
}

.reportList {
  color: var(--color-text);
}

.title {
  font-size: 2em;
  text-align: center;
}

.table {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid var(--color-report_list_table-border);
  margin: 1rem;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.header {
  display: flex;
  background-color: var(--color-background);
  font-weight: bold;
}

.header div {
  padding: 0.5rem;
  text-align: center;
}

.colPhoto {
  flex: 0 0 min(20%, 10rem);
}

.colDate {
  flex: 0 0 min(10%, 6.25rem);
  text-align: center;
}

.colName {
  flex: 1;
  text-align: left;
}

.row {
  display: flex;
  border-bottom: 0.0625rem solid var(--color-report_list_table-border);
  text-decoration: none;
  color: var(--color-link);
  background-color: transparent;
}

.row:hover {
  background-color: var(--color-background-hover);
}

.row div {
  padding: 0.5rem;
  align-self: center;
}

@media (max-width: 600px) {
  .header, .row {
    flex-direction: column;
  }
}

.photoWrapper {
  align-self: center;
  overflow: hidden;
}

.photo {
  border-radius: 1rem;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
